// @keyframes bounce {
//     0% {
//         transform: translateY(-2000px);
//     }

//     // 70% {
//     //     transform: translateY(30px);
//     // }

//     90% {
//         transform: translateY(-10px);
//     }

//     100% {
//         transform: translateY(0);
//     }
// }

@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/PTSansNarrow-Regular.woff2');
}

@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/PTSansNarrow-Bold.woff2');
}

.display-none {
    display: none;
}

body {
    background-color: $background-color;
    font-family: $body-font-family;
    color: $font-color;
    // font-weight: $font-weight;
    line-height: $line-height;
    font-size: $font-size;

    h1 {
        font-size: $h1-font-size;
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        font-size: $h2-font-size;
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
        font-size: $h3-font-size;
        margin-top: 0;
        margin-bottom: 0;
    }

    h4 {
        font-size: $h4-font-size;
        margin-top: 0;
        margin-bottom: 0;
    }

    h5 {
        font-size: $h5-font-size;
        margin-top: 0;
        margin-bottom: 0;
    }

    h6 {
        font-size: $h6-font-size;
        margin-top: 0;
        margin-bottom: 0;
    }

    a {
        text-decoration: $link-text-decoration;
        color: $link-color;

        &:visited {
            color: $link-color-visited;
        }

        &:hover {
            color: $link-color-hover;
        }

        &:active,
        &:focus {
            color: $link-color-active;
        }
    }

    ul {
        padding-left: 0;
    }

    ol {
        padding-left: 0;
    }

    li {
        list-style: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .secondary {
        background-color: $secondary-color;
        color: $black;

        h1 {
            color: $black;
        }
    
        h2 {
            color: $black;
        }
    
        h3 {
            color: $black;
        }
    
        h4 {
            color: $black;
        }
    
        h5 {
            color: $black;
        }
    
        h6 {
            color: $black;
        }
    
        a {
            color: $black;
    
            &:visited {
                color: $black;
            }
    
            &:hover {
                // color: $link-color-hover;
            }
    
            &:active,
            &:focus {
                // color: $link-color-active;
            }
        }
    }
}

// .page-wrapper {
//     background-color: #fff;
//     max-width: $tablet-width;
//     width: 100%;
//     margin: 0 auto;

//     @include tablet {
//         max-width: $desktop-width-content;
//     }

//     @include desktop {
//         box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
//     }
// }

// // Боковые отступы начиная от планшетной версии
// .page-main--photo {
//     @include tablet {
//         padding-left: 60px;
//         padding-right: 60px;
//     }

//     @include desktop {
//         padding-left: 0;
//         padding-right: 0;
//     }
// }