.footer {
    background-color: #292929;
    text-align: center;
    padding-top: 34px;

    @include tablet {
        padding-top: 51px;
    }
}

.footer__inner {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: $tablet-padding;
        padding-right: $tablet-padding;
    }
    
    @include desktop {
        flex-direction: row;
        padding-left: $desktop-padding;
        padding-right: $desktop-padding;
    }
}

.footer__heading {
    display: block;
    margin-bottom: 14px;
    font-weight: bold;

    @include tablet {
        text-transform: uppercase;
    }
}

.footer__address {
    margin-bottom: 20px;
    line-height: 1.4;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;

    @include tablet {
        margin-bottom: 2px;
        padding: 0;
    }
}

.footer__contacts {
    @include tablet {
        width: 50%;
        text-align: left;
    }

    @include desktop {
        width: 33.33%;
    }
}

.footer__phone {
    display: none;

    @include tablet {
        display: block;
        margin-bottom: 50px;
    }
}

.footer__link {
    margin-left: $mobile-padding;
    margin-right: $mobile-padding;
    margin-bottom: 26px;
    padding: 12px 20px 13px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #3f3f3f;
    transition: 0.2s all ease;

    &:hover,
        &:focus {
            border-color: #515151;
        }
        
        &:active {
            background-color: #252525;
            border-color: transparent;
            color: rgba(255, 255, 255, 0.3);
        }

    &--phone {
        @include tablet {
            display: none;
        }
    }
}

.footer__socials {
    margin-bottom: 30px;

    @include tablet {
        width: 100%;
        order: 1;
    }

    @include desktop {
        order: 0;
        width: 33.33%;
    }
}

.footer__development {
    @include tablet {
        width: 25%;

        & .footer__link {
            margin: 0;

            @include desktop {
                width: 50%;
            }
        }
    }
    
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 33.33%;
        text-align: center;
    }
}

.footer__text {
    margin-bottom: 14px;
    
    @include desktop {
        margin-right: 45px;
    }
}