.header {
    padding-top: 30px;
    text-align: center;
    
    @include tablet {
        padding-top: 0;
        background-color: $dark-gray;
        background-image: url('../img/back-tablet.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
}

.header__inner {
    display: flex;
    flex-direction: column;
    min-height: 85px;

    @include tablet {
        min-height: 469px;
    }

    @include desktop {
        min-height: 720px;
    }
}

.header__menu {
    @include tablet {
        order: 1;
    }
}

.header__logo-wrapper {
    margin-bottom: 20px;

    @include tablet {
        order: 2;
        margin-top: 40px;
        margin-bottom: 252px;
    }

    @include desktop {
        margin-top: 60px;
    }
}

.header__logo {
    
    pointer-events: all;

    @include tablet {
        width: 370px;
        height: 101px;

    }
    
    @include desktop {
        margin-top: 0px;
        height: 153px;
    }
}