.page-wrapper {
    margin: 0 auto;
    max-width: $tablet;
    background-color: #292929;
    // Чтобы скрытое меню не добваляло горизонтальный скролл
    overflow: hidden;

    // padding-left: $mobile-padding;
    // padding-right: $mobile-padding;

    @include tablet {
        max-width: $desktop;
        background-color: #353535;

        // padding-left: $tablet-padding;
        // padding-right: $tablet-padding;

        
    }

    @include desktop {
        max-width: $desktop;
        // padding-left: $desktop-padding;
        // padding-right: $desktop-padding;
    }
}