.review {
    display: none;
    justify-content: center;

    &--active {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
    }

    @include tablet {     
        justify-content: start;
        align-items: center;
        width: 100%;
        min-height: 160px;
        border-top: 1px solid #e5ddd5;
        border-bottom: 1px solid #e5ddd5;
        padding-left: 30px;
        padding-right: 30px;
    }

    @include desktop {
        border: 1px solid #e5ddd5;
        padding-left: 0;
        padding-right: 0;
    }
}

.review__name {
    margin-bottom: 11px;

    @include tablet {
        margin-bottom: 3px;
    }
}

.review__photo {
    display: block;
    position: relative;
    top: 10px;
    // background-color: $light-gray;
    width: 50px;
    min-height: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top center;

    @include tablet {
        top: 0;
        width: 83px;
        height: 83px;
        margin-right: 70px;
        border-radius: 50%;
        flex-shrink: 0;
    }

    @include desktop {
        width: 249px;
        height: 166px;
        border-radius: 0;
        flex-grow: 0;
        flex-shrink: 0;
        object-position: center 05%;
    }
}


.review__wrapper {
    margin-left: 20px;
    text-align: left;
    max-width: 75%;

    @include tablet {
        max-width: 77%;
    }

    @include desktop {
        width: 50%;
        margin-left: 0;
    }
}

.review__text {
    line-height: 27px;
}